. title {
    font-family:roboto;
    font-size:48px;
    font-style:normal;
    font-weight:600;
    color: #170F49;
}
. sub-text {
    font-family:roboto;
    font-size:18px;
    font-style:normal;
    font-weight:400;
    color: #6F6C90;
}
